
header{
    display: flex;
    justify-content: space-between;
    background-color: #053A88;
    border-bottom: 10px solid #26242F;
    padding: 10px 20px;
    align-items: center;
}
h1{
    font-family: 'Press Start 2P';
    color: #FFF;

}
nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    background: #E3C261;
    margin: 10px;
    height: 10px;
    width: 10px;

}
#button{
    display: inline-block;
    background-color: #E3C261;
    height: 60px;
    line-height: 60px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    cursor:pointer;
    transition: transform 0.4s linear, opacity 0.4 ease-in-out;
}
#button:hover{
    background-color: #E1DA65;
    transform: scale(1.08);
    opacity: 0.5;
}
div{

    height: 184px;
    width: 627px;
    background: #3A4042;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 5px 5px 0 #000000;
    
}
h2{
    color: #E3C261;
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-align: center;
    padding: 42px 97px 0px 90px;
   
}


h3{

    color: #FFF;
    font-family: 'Press Start 2P';
    font-size: 30px;
    text-align: center;
    padding: 28px 47px 44px 40px;
   
}